<footer
  class="bg-secondary text-white text-center text-lg-start position-sticky"
>
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Job Hunt</h5>

        <p class="text-white mt-2">
          Job Hunt is a dynamic platform designed to bridge the gap between
          ambitious job seekers and top-tier employers. Whether you're a fresh
          graduate eager to kickstart your career or a company seeking the
          perfect candidate, Job Hunt provides a seamless, balanced solution
          tailored to your needs.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Locations</h5>

        <ul class="list-unstyled mb-0">
          <li class="my-2">
            <a href="#!" class="text-white">Jobs in Pune</a>
          </li>
          <li class="my-2">
            <a href="#!" class="text-white">Jobs in Mumbai</a>
          </li>
          <li class="my-2">
            <a href="#!" class="text-white">Jobs in Delhi</a>
          </li>
          <li class="my-2">
            <a href="#!" class="text-white">Jobs in Chennai</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Jobs by Position</h5>

        <ul class="list-unstyled">
          <li class="my-2">
            <a href="#!" class="text-white">Front-End Developer</a>
          </li>
          <li class="my-2">
            <a href="#!" class="text-white">Back-End Developer</a>
          </li>
          <li class="my-2">
            <a href="#!" class="text-white">Full-Stack Developer</a>
          </li>
          <li class="my-2">
            <a href="#!" class="text-white">Java Developer</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright:
    <a class="text-white" href="/" style="text-decoration: none">jobhunt.com</a>
  </div>
  <!-- Copyright -->
</footer>
