.bgColor {
  background-color: #f3f5f8;
}
.bg-gray {
  background-color: #f9f9f9;
}
.bgText {
  color: #f3f5f8;
}

.textBG {
  background-color: #121316;
}
.text {
  color: #121316;
}

.primaryColor {
  background-color: #5b7bb6;
}

.primaryText {
  color: #5b7bb6;
}

.secColor {
  background-color: #93addd;
}

.secText {
  color: #93addd;
}

.acentColor {
  background-color: #648fde;
}

.acentText {
  color: #648fde;
}

p,
a {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  color: #121316;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;

  color: #121316;
}

.hero-bg {
  background-image: url("../images/home.gif");
  background-size: cover;
}

.img-fluid-about {
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1452457750107-cd084dce177d?q=80&w=2001&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
.hero-trust {
  width: 100%;
  background-color: #f3f5f8;
}
